{% extends "base.html" %}

{% block title %}list publication{% endblock %}

{% block conteudo %}

<div class="posts">
    <div class="post-header">
        <h3>{{publication.title}}</h3>
        <img width="50%" 
            src="{{ url_for('static', filename = 'uploads/'+publication.photo ) }}" alt="{{publication.photo}}">
    </div>
    <div class="post-body">
        <p>{{publication.description}}</p>
        <p>data: 20/04/2021</p>
        {% if current_user.id == publication.user_id %}
            <div class="opitions" >
                <a href="{{ url_for('update_publication', id=publication.id ) }}"><button class="edit" >Edit</button></a>
                <a href="{{ url_for('delete_publication', id=publication.id ) }}">
                    <button 
                        onclick="return confirm('deseja excluir esta publicação')" 
                        class="delete" >
                        Delete
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}