{% extends "base.html" %}

{% block title %}list publications{% endblock %}

{% block conteudo %}
<a href="{{ url_for('create_publication' ) }}"><button>new-publication</button></a>
{% for publication in publications %}
    <div class="posts">
        <div class="post-header">
            <h3>{{publication.title}}</h3>
        </div>
        <div class="post-body">
            <p>{{publication.title}}</p>
            <p>{{publication.description}}</p>
            <p><a href="{{ url_for('detail_publication', id=publication.id ) }}">veja mais...</a></p>
        </div>
    </div>
{% endfor %}


{% endblock %}