{% extends "base.html" %}

{% block title %}update publication{% endblock %}

{% block conteudo %}
<h3>Update Post</h3>
<form 
    action="{{ url_for('update_publication', id=publication.id) }}" 
    method="POST" enctype="multipart/form-data">
    
    {{ form.csrf_token }}

    {{ form.title }}
    {{ form.photo(value=publication.photo) }}
    <img width="200" style="margin-bottom: 10px;"
        src="{{ url_for('static', filename = 'uploads/'+publication.photo ) }}"
        alt="{{publication.photo}}">
    {{ form.description }}
    
    <input class="btn" type="submit" value="Update user">
</form>
{% endblock %}