*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
}

header h1{
    margin: 0px 40px;
    text-align: center;
    padding: 25px;
    background-color: rgb(15, 133, 15);
    color: rgb(245, 245, 245);
}

nav {
    text-align: center;
    margin: 0px 40px;
    padding: 15px;
}

nav ul li{
    display: inline;
}

nav ul li a{
    text-decoration: none;
    color: green;
    padding: 10px;
}

nav ul li a:hover {
    background-color: rgb(25, 151, 42);
    color: white;
}

footer{
    color: white;
    padding: 25px;
    text-align: center;
    background: rgb(15, 133, 15);
    margin: 0px 40px;
    margin-top: 42px;
}

.container .action-list{
    display: flex;
    justify-content: space-between;
}

.container .action-list{
    margin: 0px 10px;
}

.container .action-list form input{
    margin-top: 1px;
}

.container  .search{
    display: inline;
}

.container .search button{
    padding: 10px;
    width: 60px;
    color: rgb(248, 248, 248);
    border: 0px;
    border-radius: 4px;
    background-color:  rgb(15, 133, 15);
}

.container .action-list .btn-new{
    padding: 10px;
    width: 160px;
    color: rgb(240, 240, 240);
    border: 0px;
    border-radius: 4px;
    background-color: rgb(15, 133, 15);
}



.container{
    margin: 0px 40px;
    padding: 25px;
    background-color: rgb(238, 238, 238);
}

.container .posts{
    padding: 13px;
    margin: 0px 10px;
    background-color: rgb(202, 202, 202);
    margin-top: 15px;
}

.container .posts h3{
    font-size: 25px;
}

.container form{
    display: flex;
    flex-direction: column;
}

.container form input{
    padding: 10px;
    margin-top: 12px;
}

.container form .btn{
    margin-top: 45px;
    font-size: 15px;
    background-color: rgb(5, 138, 5);
    border: 0px;
    color: white;
    border-radius: 4px;
    margin-bottom: 49px;
}

/* detail  */
.container .posts .post-body .opitions a button{
    width: 15%;
    padding: 14px;
    border-radius: 4px;
    margin-top: 10px;
    color: white;
    border: 0px;
}

.container .posts .post-body {
    margin-top: 4px;
}

.container .posts .post-body .opitions .edit{
    background-color: rgb(21, 97, 197);
}

.container .posts .post-body .opitions a .edit:hover{
    color: white;
    background-color: rgb(118, 166, 240);
}

.container .posts .post-body .opitions .delete{
    background-color: rgb(197, 21, 21);
}

.container .posts .post-body .opitions a .delete:hover{
    color: white;
    background-color: rgb(240, 110, 110);
}

/* pagination */
.pagination {
    padding: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination ul li{
    display: inline;
}

.pagination .page , .number-page{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px;
    background-color: rgb(21, 136, 36);
    margin: 0px 2px;
}

.pagination a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px;
    background-color:  rgb(21, 136, 36);
}

.pagination a:hover {
    background-color: rgb(46, 197, 66);
    color: white;
}