<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="#">        
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>REPOSITORY</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('list_publication') }}">Home</a></li>
            <li><a href="{{ url_for('list_user') }}">list-user</a></li>
            <!-- <li><a href="{{ url_for('logout') }}">logout</a></li> -->
            <li><a href="{{ url_for('login') }}">login</a></li>
        </ul>
        <!-- para teste -->
        {% if current_user.is_authenticated %}
            Hi {{ current_user }}!
        {% else %}
            <h3>nao</h3>
        {% endif %}
    </nav>
    <div class="container">
        {% block conteudo %}
        {% endblock %}
    </div>
    <footer>
        <p>pacman@gmail.com</p>
        <p>auth: pacman</p>
    </footer>
</body>
</html>