<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="#">        
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>REPOSITORY</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">users</a></li>
            <li><a href="/new-user">new-user</a></li>
            <li><a href="#">logout</a></li>
        </ul>
    </nav>
    <div class="container">
        {% block conteudo %}
        {% endblock %}
    </div>
    <footer>
        <p>pacman@gmail.com</p>
        <p>auth: pacman</p>
    </footer>
</body>
</html>